* {
    background-color: lightseagreen;
}
.container {
    clear: both;
}

body {
    margin: 0 auto;
    padding: 10px;
}

button {
    background-color: goldenrod;
}

button:hover {
    color: darkcyan;
    cursor: pointer;
}

.login {
    border: 2px solid grey;
    max-width: 560px; 
    margin: 0 auto;
    padding: 10px;
}

div, form, img, p, h2, label, h1 {
    background-color: lightgray;
}

div {
    border: 2px solid grey;
}

p {
    text-align: center;
}

.resName {
    font-weight: bold;
}

.resType {
    font-style: italic;
}

.recs {
    max-width: 560px;
    margin: 0 auto;
}

.recs-title {
    text-align: center;
}

.rec-button {
    position: relative;
    left: 40%;
}

#back {
    position: relative;
    left: 40%;
    margin: 0 auto;
    text-align: center;
}

input {
    background-color: whitesmoke;
    style: none;
}

.main-list {
    max-width: 300px;
    margin-top: 50px;
    margin: 0 auto;
    padding: 10px;
}

.js-register-form {
   
    }
}

.form {
    max-width: 100px;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
}

.click-for-recs {
    font-size: 10px;
}

.hidden {
    display: none;
}