* {
    background-color: lightseagreen;
}

.container {
    clear: both;
}

body {
    margin: 0 auto;
    padding: 10px;
}

button {
    background-color: goldenrod;
}

button:hover {
    color: darkcyan;
    cursor: pointer;
}

.login {
    border: 2px solid grey;
    max-width: 590px; 
    margin: 0 auto;
    padding: 10px;
}

div, form, img, p, h2, label, h1 {
    background-color: lightgray;
}

.main-title {
    font-family: 'Impact', sans-serif;
    font-size: 40px;
    color: lightseagreen;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-right: 100px;
}

div {
    border: 2px solid grey;
}

p {
    text-align: center;
}

.resName {
    font-weight: bold;
}

.resType {
    font-style: italic;
}

.recs {
    max-width: 560px;
    margin: 0 auto;
}

.recs-title {
    text-align: center;
}

#register-form{
    padding: 5px;
}

.rec-button {
    position: relative;
    /* left: 40%; */
    align-content: center;
    padding: 4px;
    min-width: 394px;
    font-size: 18px;
}
#query-form {
    text-align: center;
    font-size: 18px;
}

#list-results {
    max-width: 394px;
}

#back {
    position: relative;
    left: 40%;
    margin: 0 auto;
    text-align: center;
}

input {
    background-color: whitesmoke;
    style: none;
}

.main-list {
    max-width: 400px;
    margin-top: 50px;
    margin: 0 auto;
    padding: 10px;
}

}

.form {
    max-width: 100px;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
}

.click-for-recs {
    font-size: 14px;
}

.hidden {
    display: none;
}